* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #f8f8ff;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
}

.header {
  width: 30%;
  min-width: 250px;
  margin: 50px auto 0px;
  color: #ffffff;
  background: #5d79a3;
  text-align: center;
  border: 1px solid #a3b6cf;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}


.content {
  width: 30%;
  min-width: 250px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #a3b6cf;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

.content > p { 
  padding: 10px 5px 10px 5px;
  text-align: justify;
}

.content > p:last-of-type {
  text-align: center;
  padding-top: 20px;
}

.content > p > a {
  color: #ffffff;
  padding: 10px;
  background: #5d79a3;
  border-radius: 50px;
  transition: background 0.2s;
}
.content > p > a:hover {
  background: #2a4773;
}


.content > table {
  width: 100%;
  padding: 10px;
}

.content > table a {
  color: #ffffff;
  padding: 10px;
  background: #5d79a3;
  border-radius: 5px;
  transition: background 0.2s;
}
.content >table a:hover {
  background: #2a4773;
}



.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}

.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  text-align: center;
}

.logout {
  padding: 10px 5px 10px 5px;
}

.logout > a {
  color: #ffffff;
  padding: 10px;
  background: #364b6b;
  border-radius: 5px;
  transition: background 0.2s;
}

.logout > a:hover {
  background: #e00000;
}


